@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding-top: 100px;
background-color: #FEFDFC;
 
}
h1 {
  color: #333; 
  padding: 20px; 
  max-width: 800px;
  letter-spacing: 2px;
  line-height: 1.2 !important;
  font-family: 'Poppins' 'sans-serif';
}
.home-p{
  color: #222222c0;
  font-family: 'Poppins' 'sans-serif';
}
main{
  min-height: 80vh;
}
span{
  color: #de4231e3;
}
.primary{
  background-color: #de4231e3;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 1rem;
  color: #fafafa;
  transition: all .2s ease-in-out;
  white-space: nowrap;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.primary:hover{
  background-color: #DE4331;
}
.secondary{
  border: 1px solid #de4231e3;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 1rem;
  color: #de4231e3;
  transition: all .2s ease-in-out;
  white-space: nowrap;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.secondary:hover{
  background-color: #DE4331;
  color: #fafafa;
}
.account-right{
  background-image: linear-gradient( 109.6deg,  rgba(217,67,67,1) 11.2%, rgba(242,106,75,1) 100.6% );
}
.account-button{
  color:#de4231e3 ;
  transition: all .2s ease-in-out;
}
.account-button:hover{
  color:#fafafa;
  background-color: #DE4331;
}
.account-div{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}
.priceCard{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h2{
  color: #333; 
  max-width: 800px;
  font-family: 'Poppins' 'sans-serif';
}
.about-images{
  max-height: 500px;
}
p{
  color: #4A5568;
  font-family: 'Poppins' 'sans-serif';
}